.food-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #c1c1d5;
    transition: 0.3s;
    animation: fadeIn 1s;
}

.food-item:hover {
    transform: scale(1.05);
}

.food-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info {
    padding: 20px;
}

.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: nowrap; /*ko cho wrap*/
}

.food-item-name-rating p {
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%; /* limits width so stars have room */
}

.food-item-name-rating img {
    width: 70px;
}

.food-item-desc {
    color: #676767;
    font-size: 13px;
}

.food-item-price {
    color: seagreen;
    font-size: 22px;
    font-weight: 700;
    margin: 10px 0px;
}

.food-item-img-container {
    position: relative;
}

.food-item-img-container .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

/* From Uiverse.io by PriyanshuGupta28 */ 
.rating {
    display: inline-block;
    white-space: nowrap;
    flex-shrink: 0; /* prevents the stars from shrinking */
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.rating label:before {
    content: '\2605';
    font-size: 17px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color:gold;
    transition: color 0.3s;
}
