.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo {
    width: max(10%, 80px);
}

.profile-icon {
  font-size: 40px;  /* or 40px, depending on your design */
  color: #444;
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  font-size: 20px;
}
